.CartItem {
  border: 1px solid lightgray;
  box-shadow: 3px 3px 25px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  position: relative;
  font-size: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.8rem;
  }

  .CartItem-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .CartItem-Img {
    max-width: 125px;
    margin-right: 1em;
    display: block;
  }
  .CartItem-Info > *,
  .CartItem-Qty > * {
    padding: 0;
    margin: 0;
  }
  .CartItem-Qty {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .CartItem-price {
    margin-left: auto;
  }
  .buttonWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      padding: 0 0 0.2em 0.1em;
      border-radius: 50%;
      margin: 0 0.3em;
      font-size: 1.4em;
    }
  }
  .removeFromCart {
    width: 25px;
    height: 25px;
    background-color: white;
    color: rgba(0, 0, 0, 0.4);
    padding: 0 0.2em 0.2em 0.2em;
    border-radius: 50%;
    margin: 0 0.3em;
    font-size: 1em;
    position: absolute;
    top: -13px;
    right: -13px;
  }
}
