@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300;400;500&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  letter-spacing: 1px;
}

body {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.App {
  padding: 1em 2em;
  margin: 0 auto;
}
